/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: #0065FC;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 35px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin-bottom: 0px;
    font-size: 22px;
}

.section-title-2 {
    margin-bottom: 30px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: #F2F2F2;
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: white;
    width: 100%;
    margin-bottom: 40px;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 80px;
    padding: 0;
    margin: 0;
    position: relative;
}

nav li {

    position: relative;
}

nav a:hover {
    color: #0065FC;
}

nav a {
    position: relative;
    color: black;
    font-weight: 450;
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
    transition: color 0.3s;
}

.nav-item::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.3s;
    transform: scaleX(0);
    transform-origin: center;
}

.nav-item:hover::before {
    background-color: #0065FC;
    transform: scaleX(1);
}

/****** Search Form ***********/
.search-form {
    display: flex;
    justify-content: flex-start;
    padding: 40px 0;
}

.search-form h2 {
    margin-bottom: 10px;
    font-size: 28px;
}

.search-form p {
    margin-bottom: 30px;
    color: black;
    font-weight: bold;
}

.search-form .search-icon {
    background-color: #F2F2F2;
    padding: 12px;
    border-radius: 15px 0 0 15px;
    border: none;
    border-right: none;
    width: 50px;
}

.search-form .search-icon i {
    color: black;
}

.search-form input {
    padding: 9px;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-color: #F2F2F2;
    color: black;
    width: 13% ;
    font-size: 16px;
    font-weight: bold;
}

.search-form button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.search-form button:hover {
    background-color: #004bb5;
}

.search-form .button-icon {
    display: none;
}

/****** Filters ***********/
.filters {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 30px;
}

.filters p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.filter-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-weight: bold;
}

.filter-button:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
}

.filter-button i {
    color: #0065FC;
    margin-right: 10px;
}

.filter-button button {
    background-color: white;
    border: none;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    outline: none;
}

.info-message {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    margin-bottom: 2%;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.info-icon i {
    color: #0065FC;
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px; /* Espace entre les sections */
    margin-bottom: 20px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    padding: 20px; /* Réduire le padding */
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 100%; /* Occupy full width */
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px; /* Padding for the section */
}

.hebergements-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
    gap: 20px;
}

.hebergements-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius:10px  10px 0 0 ;
}

.showmore {
    margin-top:30px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: calc(32% - 20px); /* Réduire légèrement la largeur */
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px; /* Réduire le padding */
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 120px;
    border-radius: 10px 0 0 10px ;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


/****** Activities ***********/
.activities {
    margin-bottom: 40px;
}

.activities-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: start;
}

.activities-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.activity-card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    flex: 1;
    max-width: 23%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.activity-card img {
    width: 100%;
    height: 439px;
    object-fit: cover;
}

.activity-card p {
    padding: 10px;
}

/****** Footer ***********/
footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    background-color: lightgrey;
    width: 100%;
    max-width: 1440px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px; /* Ajuste cette valeur pour plus ou moins d'espace */
}

.footer-section a {
    color: #666;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: var(--main-color);
}

/* Si tu veux retirer la marge pour le dernier élément <li> */
.footer-section li:last-child {
    margin-bottom: 0;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 20px; /* Espace entre les sections */
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
        gap: 30px;
        
    }

    .hebergements-card img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius:  10px 10px 0 0 ;
    }

    

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

     .populaires-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the columns to fit equally */
        gap: 15px;
    }

    .populaires-cards .card {
        height: 130px;
        opacity: 1; /* Rendre la carte visible */
        overflow: hidden;
        background-color: white; /* Assurer une couleur de fond */
    }
    
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards img {
        width: 30%; /* Ajuster la largeur de l'image pour occuper la moitié de la carte */
        border-radius: 20px 0 0 20px;
        object-fit: cover
    }
    .activity-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }


    .search-form input {
        width: 150px; /* Set width to match desktop */
        border-radius: 0;
        border-left: none;
        border-right: none;
        border-color: #F2F2F2;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }

    .search-form button {
        border-radius: 0 15px 15px 0; /* Rounded corners for right side */
        background-color: var(--main-color);
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 16px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        padding: 0 20px;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    nav ul {
        display: flex;
        flex-direction: row; /* Display links in a row */
        width: 100%; /* Full width */
        padding: 0;
        margin: 0;
    }

    nav li {
        flex: 1; /* Allow each list item to take equal space */
        text-align: center; /* Center align text within list items */
    }

    nav a {
        display: block; /* Make links take full width */
        width: 100%; /* Full width for each link */
        padding: 10px 0; /* Adjust padding if needed */
    }

    nav .nav-item::before {
        content: '';
        position: absolute;
        top: 100%; /* Position the bar below the text */
        left: 0; /* Start the bar at the beginning */
        width: 100%; /* Full width */
        height: 3px;
        background-color: transparent;
        transition: background-color 0.3s, transform 0.3s;
        transform: scaleX(0);
        transform-origin: center;
    }

    nav .nav-item:hover::before {
        background-color: #0065FC;
        transform: scaleX(1);
    }

    .search-form .input{
        width: 80%;
    }

    .search-form button {
        justify-content: center;
        border-radius:15px; /* Rounded corners for right side */

    }

    .search-form .button-text {
        display: none; /* Hide the text on small screens */
    }

    .search-form .button-icon {
        display: inline-block; /* Ensure the icon is visible */
        font-size: 16px; /* Adjust the size of the icon */
    }
    
    .info-icon{
        width: 10%;
}

    .filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Create two columns */
        gap: 10px;
        width: 100%;
    }

    .filters p {
        display: flex;
        justify-content: flex-start;
        grid-column: span 2; /* Span both columns */
    }

    .filter-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        background-color: white;
        border: 2px solid #d9d9d9;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.1s;
        font-weight: bold;
        width: 100%; /* Ensure full width within grid cell */
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 20px; /* Espace entre les sections */
        background: none;
        
    }
    .hebergements-card {
        display: flex;
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        order: 2;
       --main-bg-color: none;
    }
    

    .main-container{
        padding: 0;
        
    }

    .populaires {
        flex-direction: column;
        width: 100% ;
        width: calc(100% + 40px);
        margin-left: -20px;
        border-radius: 0;
        
    }

    .populaires-cards {
        flex-direction: column;
    }


    .activity-card {
        max-width: 100%;
    }

    .activities-cards {
        flex-direction: column;

    }
    .activities-cards img {
        width: 100% ;
        height: 160px; /* Same height as the hebergements images */
        object-fit: cover;
        border-radius: 10px 10px 0 0; /* Same border radius as the hebergements images */
    }

    footer {
        flex-direction: column;
        align-items: left;
        gap: 20px;
        width: calc(100% + 40px);
        border-radius: 0;
    }

}
   